@use "../abstract/variable" as var;
@use "../abstract/mixin";

// FONT SETUP

@font-face {
    font-family: "Roboto";
    src: url(../font/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto bold";
    src: url(../font/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: "Baloo";
    src: url(../font/Baloo_Bhai_2/BalooBhai2-VariableFont_wght.ttf);
}

//////////////////////////////////////////////////////////////////////////////////////////

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto";
    background-color: #f2f2f0;

    h2 {
        font-family: Baloo;
    }
}

// HEADER

// classe d'affichage du header lors du scroll
.visible {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 1;
    background-color: transparent;
    z-index: 1000;
}
/////////////////////////////////////////////////

header {
    // display none important pour le home mais ne permet pas l'arrivée smooth. Trouver une solution
    display: none;
    transition: display 0.3s ease, transform 0.3s ease;
    opacity: 0;

    nav {
        @include mixin.flex ($justify: space-between);
        width: 100%;
        padding: 10px 50px;

        h1 {
            font-family: Baloo;
            cursor: pointer;
            transition: .3s ease-in-out;

            &:hover {
                color: var.$principalColor;
                transform: scale(1.1);
            }
        }

        ul {
            @include mixin.flex;
            gap: 50px;
            font-family: Roboto bold;

            a {
                display: block;
                color: black;
                font-size: 1.2rem;
                transition: .3s ease;
                cursor: pointer;
                padding-bottom: 2px;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    width: 0;
                    height: 1px;
                    background-color: var.$secondaryColor;
                    transition: width .4s ease, left .4s ease;
                }

                &:hover {
                    color: var.$secondaryColor;
                    transform: scale(1.1);

                    &::before {
                        width: 100%;
                        left: 0;
                    }
                }
            }

            a.active {
                color: var.$principalColor;
                border-bottom: 2px solid var.$lightPrincipalColor;
            }
        }
    }
}
