@use "../abstract/mixin" as var;
@use "../abstract/mixin";

// FONT SETUP

@font-face {
    font-family: "Roboto";
    src: url(../font/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto bold";
    src: url(../font/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: "Baloo";
    src: url(../font/Baloo_Bhai_2/BalooBhai2-VariableFont_wght.ttf);
}

//////////////////////////////////////////////////////////////////////////////////////////

body {
    font-family: "Roboto";
    background-color: #f2f2f0;

    h2 {
        font-family: Baloo;
    }
}

// HEADER
header {
    display: none;
}
